<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问相册</string>
		<key>clsNames</key>
		<array>
			<string>UIImagePickerController</string>
			<string>PHPickerViewController</string>
		</array>
	</dict>
	<key>NSCameraUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问相机</string>
		<key>clsNames</key>
		<array>
			<string>UIImagePickerController</string>
			<string>PHPickerViewController</string>
		</array>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问麦克风</string>
		<key>clsNames</key>
		<array>
			<string>AVCaptureDevice</string>
		</array>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能在使用期间访问位置</string>
		<key>clsNames</key>
		<array>
			<string>CLLocationManager</string>
		</array>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能始终访问位置</string>
		<key>clsNames</key>
		<array>
			<string>CLLocationManager</string>
		</array>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问日历</string>
		<key>clsNames</key>
		<array>
			<string>EKCalendar</string>
		</array>
	</dict>
	<key>NSRemindersUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问提醒事项</string>
		<key>clsNames</key>
		<array>
			<string>EKReminder</string>
		</array>
	</dict>
	<key>NSMotionUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问运动与健身</string>
		<key>clsNames</key>
		<array>
			<string>HKHealthStore</string>
		</array>
	</dict>
	<key>NSHealthUpdateUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问健康更新</string>
		<key>clsNames</key>
		<array>
			<string>HKHealthStore</string>
		</array>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问健康分享</string>
		<key>clsNames</key>
		<array>
			<string>HKHealthStore</string>
		</array>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问蓝牙</string>
		<key>clsNames</key>
		<array>
			<string>CBCentralManager</string>
		</array>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<dict>
		<key>des</key>
		<string>App需要您的同意,才能访问媒体资料库</string>
		<key>clsNames</key>
		<array>
			<string>MPMediaQuery</string>
		</array>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<dict>
		<key>des</key>
		<string>面容ID用于登录</string>
		<key>clsNames</key>
		<array>
			<string>LAContext</string>
		</array>
	</dict>
</dict>
</plist>
